.el {
  position: absolute;
  transform-origin: center center;
  cursor: move;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el.selected {
  outline: 2px solid var(--viridian-60);
  outline-offset: 3px;
  border-radius: 2px;
}
